{{ partial "header" . }}
  {{ partial "nav" . }}
  <div class="container">
    <section class="section">
      <div class="container">
        <article class="article">
          <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | emojify }}</a></h1>
          <div class="content">
            {{ partial "banner" . }}
            {{ partial "table-of-contents" . }}
            <!-- supports emoji -->
            {{ .Content | emojify }}
          </div>
        </article>
      </div>
    </section>
  </div>
  {{ partial "footer" . }}
