<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    {{ partial "meta.html" . }}
    {{ partial "favicons.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Title }}" />{{ end }}

    {{ partial "includes.html" . }}
</head>
<body lang="en">
